@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

:root {
  --dark-blue: #1d3557;
  --blue: #457b9d;
  --medium-light-blue: #a8dadc;
  --light-blue: #f1faee;
  --red: #e63946;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: 'Akshar', sans-serif;
}

body {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  margin-top: 4rem;
  width: 40vw;
  min-width: 500px;
  background-color: var(--blue);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  padding: 1rem 0;
}

.list {
  width: 100%;
  background-color: var(--light-blue);
  padding: 1rem;
}

h2 {
  padding-bottom: 1rem;
  color: var(--blue);
}
